@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.box {
		@apply bg-white rounded-md p-5 drop-shadow mx-5 sm:mx-0;
	}

	.btn-nav {
		@apply py-2 sm:px-10 border-[1px] border-transparent txt-button text-center;
	}
	.btn-nav-active {
		@apply btn-nav border-b-brand text-center;
	}
	.btn-cta-primary {
		@apply py-[8.5px] w-full sm:px-[24px] rounded-full bg-brand txt-inlineButton text-white text-center;
	}
	.btn-cta-secondary {
		@apply py-[8.5px] w-full sm:px-[24px] rounded-full bg-brandLight txt-inlineButton text-brand text-center;
	}
	.btn-cta-tertiary {
		@apply py-[8.5px] w-full sm:px-[24px] rounded-full bg-white txt-inlineButton text-brand border-2 border-greyContent text-center;
	}
	.btn-cta-quarternary {
		@apply py-[8.5px] w-full sm:px-[24px] rounded-full bg-greyForeground txt-inlineButton text-black text-center;
	}
	.btn-cta-disabled {
		@apply btn-cta-quarternary opacity-50 text-center;
	}

	.btn-cta-primary-tall {
		@apply btn-cta-primary py-[14.5px] text-center;
	}
	.btn-cta-secondary-tall {
		@apply btn-cta-secondary py-[14.5px] text-center;
	}
	.btn-cta-tertiary-tall {
		@apply btn-cta-tertiary py-[14.5px] text-center;
	}
	.btn-cta-quarternary-tall {
		@apply btn-cta-quarternary py-[14.5px] text-center;
	}
	.btn-cta-disabled-tall {
		@apply btn-cta-disabled py-[14.5px] text-center;
	}

	.txt-headline1 {
		@apply font-[600] text-[96px] leading-[144px];
	}
	.txt-headline2 {
		@apply font-[600] text-[60px] leading-[90px];
	}
	.txt-headline3 {
		@apply font-[600] text-[48px] leading-[72px];
	}
	.txt-headline4 {
		@apply font-[600] text-[34px] leading-[51px];
	}
	.txt-headline5 {
		@apply font-[700] text-[24px] leading-[36px];
	}
	.txt-headline6 {
		@apply font-[600] text-[20px] leading-[30px];
	}
	.txt-subtitleBig {
		@apply font-[600] text-[16px] leading-[24px];
	}
	.txt-subtitle {
		@apply font-[600] text-[14px] leading-[21px];
	}
	.txt-subtitleSmall {
		@apply font-[600] text-[12px] leading-[18px];
	}
	.txt-caption {
		@apply font-[400] text-[12px] leading-[18px];
	}
	.txt-captionSmall {
		@apply font-[400] text-[9px] leading-[13.5px];
	}
	.txt-bodySuper {
		@apply font-[400] text-[18px] leading-[27px];
	}
	.txt-bodyBig {
		@apply font-[400] text-[16px] leading-[24px];
	}
	.txt-bodyNormal {
		@apply font-[400] text-[14px] leading-[21px];
	}
	.txt-body {
		@apply txt-caption sm:txt-bodyNormal;
	}
	.txt-overline {
		@apply font-[500] text-[12px] leading-[18px] uppercase;
	}
	.txt-inputTitle {
		@apply font-[400] text-[12px] leading-[18px];
	}
	.txt-inputHelper {
		@apply font-[400] text-[12px] leading-[18px] text-greyContent;
	}
	.txt-button {
		@apply font-[600] text-[14px] leading-[21px];
	}
	.txt-buttonBig {
		@apply font-[600] text-[16px] leading-[24px];
	}
	.txt-inlineButtonBig {
		@apply font-[600] text-[16px] leading-[24px] text-brand;
	}
	.txt-inlineButtonSmall {
		@apply font-[600] text-[12px] leading-[18px] text-brand;
	}
	.txt-inlineButtonMedium {
		@apply font-[600] text-[14px] leading-[21px] text-brand;
	}
	.txt-inlineButton {
		@apply txt-inlineButtonSmall sm:txt-inlineButtonMedium;
	}
}

@layer base {
	@font-face {
		font-family: Poppins;
		font-weight: 100;
		src: url(/src/assets/fonts/Poppins/Poppins-100.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 100;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-100-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 200;
		src: url(/src/assets/fonts/Poppins/Poppins-200.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 200;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-200-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 300;
		src: url(/src/assets/fonts/Poppins/Poppins-300.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 300;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-300-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 400;
		src: url(/src/assets/fonts/Poppins/Poppins-400.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 400;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-400-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 500;
		src: url(/src/assets/fonts/Poppins/Poppins-500.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 500;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-500-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 600;
		src: url(/src/assets/fonts/Poppins/Poppins-600.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 600;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-600-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 700;
		src: url(/src/assets/fonts/Poppins/Poppins-700.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 700;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-700-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 800;
		src: url(/src/assets/fonts/Poppins/Poppins-800.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 800;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-800-italic.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 900;
		src: url(/src/assets/fonts/Poppins/Poppins-900.ttf);
	}
	@font-face {
		font-family: Poppins;
		font-weight: 900;
		font-style: italic;
		src: url(/src/assets/fonts/Poppins/Poppins-900-italic.ttf);
	}
}
